In [ ]:
import pandas as pd
import tweepy

# Preencha a seguir com as suas chaves de API
consumer_key = 'SrPOepErG6NrAObppbIEauvQJ'
consumer_secret = 'ckX0vQlF5vgVFawx6Xr3hGaF9kdDvc29x6I9rvMNZMpGBC4N2S'
access_token = '137864852-HL8i0b0BvtphQLr4JgnFUZ0cuJd1xj7re5wsn4eo'
access_token_secret = 'PV3WcLkFXAPWBdOozMMQ3HBlX5m2dDrACGNlnEedbEmao'

# Validação de Tokens

In [ ]:
# Validação de tokens de acesso
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth,wait_on_rate_limit=True)

# Implementação

Pesquisa de string

In [ ]:
tweets = tweepy.Cursor(api.search,q="altura idade tamanho do pé",
                           lang="pt", since="2020-01-01").items()

Definir separações e caracteres a ignorar

In [ ]:
split_token = ':-'
split_lang  = ' ,/'
ignore = '('

data = {'autor':  [],
        'altura': [],
        'idade':  [], 
        }

df = pd.DataFrame(data, columns = ['autor', 'altura', 'idade'])

Extrair texto

In [ ]:
for tweet in tweets:
  
  # Get text
  ids = tweet.id
  status = api.get_status(ids, tweet_mode="extended")
  fulltext = status.full_text

  fulltext = fulltext.replace("-",":")
  fulltext = fulltext.replace(";",":")
  fulltext = fulltext.replace("=",":")
  #print(fulltext)
  lines = fulltext.split('\n')
  autor = []
  altura = 0.00
  idade = 0
  for line in lines:
    autor = tweet.author.screen_name
    questions = "null"
    if line.find(':') != -1:
      answers = line.split(':')[-1]
      questions = line.split(":")[0]
    if questions == "altura":
        altura = answers.replace(",",".")
        altura = altura.replace(" ", "")
        try:
          altura = altura[:4]
          altura = float(altura)
          #print(altura)
        except:
          altura = 0.00
    if questions == "idade":
        idade = answers.replace(" ","")
        try:
          idade = idade[:2]
          idade = int(idade)
          #print(idade)
        except:
          idade = 0
        #print(idade)
  print(altura,fevrth idade)
  #df = df.append({'autor': autor ,'altura': altura, 'idade': idade}, ignore_index=True)

0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.66 19
1.7 20
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.62 14
0.0 0
1.6 17
0.0 0
1.66 15
1.45 18
0.0 0
0.0 0
0.0 0
1.54 23
1.6 19
1.64 18
1.6 18
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.77 17
0.0 0
1.66 15
1.7 16
0.0 0
0.0 0
1.55 21
1.58 16
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.6 18
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 19
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.58 20
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
0.0 0
1.83 16
1.9 16
1.77 15

Capturar respostas

In [ ]:
print(df)

               autor altura idade
0           pitchbxz   1.75    15
1    StellaLuize1002   1.75    15
2            rsmione   1.57    17
3         dudsbaiano   1.69    16
4        sharinganzx   1.75    15
..               ...    ...   ...
370       __barradas   1.56    23
371      _rafaela_ap   1.56    23
372     gabrielvosvo   1.56    23
373      alesantanax   1.56    23
374     sofia_reiiss   1.56    23

[375 rows x 3 columns]

Criar dicionário de respostas

In [ ]:
respostas = {1:[], 2:[], 3:[], 4:[], 5:[], 6:[]}

Capturar respostas

0